body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(168, 140, 48, 0.493);
}
.container{
    margin-top: 20px;
}
#headx{
    border-radius: 20px;
}
#btnx:hover{
    background-color: green;
}
#listx{
    font-size: 25px;
    font-display: block;
    display: inline-block;
    align-content: center;
}